.box{
    height: 100px;
    width: 100px;
    background-color: chocolate;
    border:2px solid black;
    margin: 20px;
    padding: 20px;
    transform
    /* transform: rotate(-30deg); */
    /* transform: scale(3,7); */
    /* transform: matrix(1,0.3,2,1,0,50); */

    transform: ;

}
:hover{
    background-color: red;
    color: white;
}
